.navbar {
    min-height: 48px;
    background-color: rgb(14, 190, 190);
    font-size: 1.6rem;
}
.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 20rem) {
            flex-direction: column;
    }
}

.nav {
    display: flex;
    list-style: none;
}
.nav-item {
    padding-left: 1rem;
}
.nav-link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
@media screen and (max-width: 20rem) {
    .navbar-inner , .nav {
        flex-direction: column;
    }
}